<%- include('../partials/header') %>
<h2>Panel del Propietario</h2>
<p>Publica propiedades y revisa candidatos compatibles.</p>
<a class="btn" href="/owner/properties/new">Publicar propiedad</a>
<a class="btn-outline" href="/owner/properties" style="margin-left: 0.5rem"
  >Mis propiedades</a
><%- include('../partials/footer') %>
