<%- include('../partials/header') %>
<h2>Perfil de propietario</h2>
<form class="form" action="/owner/profile" method="post" enctype="multipart/form-data">

  <label>Teléfono
    <input name="telefono" value="<%= profile ? profile.telefono : '' %>">
  </label>

  <label>Foto de perfil
    <input type="file" name="fotoPerfil">
  </label>
  <% if (profile && profile.fotoPerfil) { %>
    <img src="/uploads/<%= profile.fotoPerfil %>" alt="Foto perfil" style="max-width:150px;">
  <% } %>
  <button class="btn">Guardar</button>
</form>
<%- include('../partials/footer') %>
