<%- include('../partials/header') %>
<h2>¡Todo listo!</h2>
<p>Los propietarios te contactarán para coordinar visitas.</p>
<a class="btn" href="<%= baseUrl %>/dashboard">Ir al panel</a>
include('../partials/footer') %>
