<%- include('partials/header') %>
<<<<<<< HEAD
<section class="hero">
  <h1>Conectamos propietarios con inquilinos ideales</h1>
  <p>Accedé a alquileres donde tu perfil vale más que tu rapidez.</p>
  <div class="cta-row">
    <a class="btn" href="/register">Soy Inquilino</a
    ><a class="btn-outline" href="/register?role=owner">Soy Propietario</a>
  </div>
</section>
<%- include('partials/footer') %>
=======
<section class="hero"><h1>Conectamos propietarios con inquilinos ideales</h1>
<p>Accedé a alquileres donde tu perfil vale más que tu rapidez.</p>
<div class="cta-row"><a class="btn" href="/auth-choice?role=tenant">Soy Inquilino</a><a class="btn-outline" href="/auth-choice?role=owner">Soy Propietario</a></div>
</section><%- include('partials/footer') %>
>>>>>>> f323f8146a407dc9827baf0b2c6125e857baf46e
