<%- include('partials/header') %>
<section class="hero">
  <h1>Conectamos propietarios con inquilinos ideales</h1>

  <p>Accedé a alquileres donde tu perfil vale más que tu rapidez.</p>
  
  <div class="cta-row">
    <a class="btn" href="/auth-choice?role=tenant">Soy Inquilino</a>
    </div>

  <div class="cta-row">
    <a class="btn-outline" href="/auth-choice?role=owner">Soy Propietario</a>
    <img class"prop.home" src="/images/prop.home.png" alt="Logo de la app" />
  </div>

</section>
<%- include('partials/footer') %>
